<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    body {
        background: #777777; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, darkslategray, lightsteelblue);
        background: -moz-linear-gradient(right, darkslategray, lightsteelblue);
        background: -o-linear-gradient(right, darkslategray, lightsteelblue);
        background: linear-gradient(to left, darkslategray, lightsteelblue);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    h1{
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
    li{
        font-size: 20px;
    }
    .container{
        margin: 2%;
        padding-bottom: 3%;
        padding-right: 10%;
        padding-left: 10%;
    }
    .details{
        padding: 3%;
    }
    button {
        background-color: darkgray;
        border: none;
        color: darkslategrey;
        padding: 10px 25px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }


    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .log {
        margin-left: 87%;
    }

    .start {
        margin-left: inherit;
        text-decoration: none;
    }


</style>
<head>

    <title>about</title>

<body>
<div class="container">

    <div class="log">
        <button><a class="start" href="/">Start</a></button>
    </div>
    <h1>About us</h1>
    <div class="details">
        <p>This web page have been made to provide best service to our customers</p>
        <p>We are doing our best to make it as easy as possible to apply for photosession and afterwords check your photos ad choose those, you like the most, for photographer to retouche them.</p>
        <p>Just pick up the the one of photosessions and choose most appropriate for you date and time or contact us:</p>
        <ul><b>
            <li>Phone: 27 222 333</li>
            <li>E-mai: bestgallery@gmail.com</li>
            <li>Address: Riga, Skanstes street 43</li>
        </b></ul>
        <p>We are working:</p>
        <ul><b>
            <li>work days: 9.00 - 18.00</li>
            <li>saturday: 10.00 - 15.00</li>
        </b></ul>
        </p>

    </div>
</div>
</body>
</html>