<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>

    <title>adminDashboard</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <p>all folders</p>
    <div>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="file">Choose file to upload</label>
                <input type="file" id="file" name="file" multiple>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>