<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    body {
        background: #777777; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, darkslategray, lightsteelblue);
        background: -moz-linear-gradient(right, darkslategray, lightsteelblue);
        background: -o-linear-gradient(right, darkslategray, lightsteelblue);
        background: linear-gradient(to left, darkslategray, lightsteelblue);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<head>

    <title>adminDashboard</title>

<body>

<div class="container">
    <p>here should be all folders??</p>
    <div>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="file">Choose file to upload</label>
                <input type="file" id="file" name="file" multiple>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>