<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    body {
        background: #777777; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, darkslategray, lightsteelblue);
        background: -moz-linear-gradient(right, darkslategray, lightsteelblue);
        background: -o-linear-gradient(right, darkslategray, lightsteelblue);
        background: linear-gradient(to left, darkslategray, lightsteelblue);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<head>

    <title>dashboard</title>

<body>

<div class="container">
    folders?
</div>
</body>
</html>