<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto:300);
            div.gallery {
                border: 1px solid #ccc;

            }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;

            }

            div.desc {
                padding: 15px;
                text-align: center;
            }

            * {
                box-sizing: border-box;
            }

            .responsive {
                padding: 0 6px;
                float: left;
                width: 24.99999%;
            }

            @media only screen and (max-width: 700px) {
                .responsive {
                    width: 49.99999%;
                    margin: 6px 0;
                }
            }

            @media only screen and (max-width: 500px) {
                .responsive {
                    width: 100%;
                }
            }

            .clearfix:after {
                content: "";
                display: table;
                clear: both;
            }
            body {
                background: #777777; /* fallback for old browsers */
                background: -webkit-linear-gradient(right, darkslategray, lightsteelblue);
                background: -moz-linear-gradient(right, darkslategray, lightsteelblue);
                background: -o-linear-gradient(right, darkslategray, lightsteelblue);
                background: linear-gradient(to left, darkslategray, lightsteelblue);
                font-family: "Roboto", sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        </style>
    </head>
    <body>

    <h2>here will be name of gallery</h2>


    <form action="/action_page.php">
        <div class="container">

            <div class="responsive">
                <div class="gallery">
                    <input type="checkbox" name="weddings" value="Weddings">
                    <a target="_blank" href="/images/route-66.jpg">

                        <img src="/images/route-66.jpg" alt="Cinque Terre" width="600" height="400"><br>

                    </a>

                </div>
            </div>



    <div class="responsive">
        <div class="gallery">
            <input type="checkbox" name="weddings" value="Weddings">
            <a target="_blank" href="/images/beach-calm-clouds-457882.jpg">

                <img src="/images/beach-calm-clouds-457882.jpg" alt="Forest" width="600" height="400">
            </a>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <input type="checkbox" name="weddings" value="Weddings">
            <a target="_blank" href="/images/autostop_1.jpg">
                <img src="/images/autostop_1.jpg" alt="Northern Lights" width="600" height="400">
            </a>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <input type="checkbox" name="mountains" value="Mountains">
            <a target="_blank" href="/images/beach-beautiful-bridge-449627.jpg">
                <img src="/images/beach-beautiful-bridge-449627.jpg" alt="Mountains" width="600" height="400">
            </a>

        </div>
    </div>

            <div class="responsive">
                <div class="gallery">
                    <input type="checkbox" name="mountains" value="Mountains">
                    <a target="_blank" href="/images/dirt-road-1-of-1.jpg">
                        <img src="/images/dirt-road-1-of-1.jpg" alt="Mountains" width="600" height="400">
                    </a>

                </div>
            </div>


    <div class="clearfix"></div>

    <div style="padding:6px;">
    </div>
            <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>