<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="/style.css" rel="stylesheet">
<head>
    <style>


        .form button:hover,.form button:active,.form button:focus {
            background: #1a1a1a;
        }


        .form .message a {
            color: #1a1a1a;
            text-decoration: none;

        }
        .container {
            position: fixed;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }



    </style>
    <title>start</title>

<body>


<div>
 <a class="nav-link" href="/login">login</a>
 </div>

<div class="container">
    <div class="leftBottom"></div>
    <form action="/action_page.php">
    <div class="w3-container w3-gray">
    <input type="checkbox" name="weddings" value="Weddings"> Weddings<br>
    </div>

     <div class="w3-container w3-gray">
         <input type="checkbox" name="kids" value="Kids"> Kids<br>

    </div>
    <div class="w3-container w3-gray">
        <input type="checkbox" name="other" value="Other"> Other<br>
    </div>

    <input type="submit" value="Submit">
    </form>

    <div>
    <a class="link" href="/dashboard"> <div class="w3-container w3-gray">
        My Files
    </div></a>
    <div>
        <p>calendar</p>
        <div>
            <form>
                Enter your e-mail: <input type="text" name="email"><br>

                <input type="button" onclick="" value="Submit">
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
