<!DOCTYPE html>
<html lang="en">
<head>

    <title>hello</title>
    <link href="css/main.css"
          rel="stylesheet">
<body>


<div class="leftBottom">

            <button type="submit" class="btn btn-primary my-1">
                <a class="nav-link" href="/">login</a>
            </button>
            <button type="submit" class="btn btn-primary my-1">Submit</button>




    </div>

<div class="container">

    <button><div>
            Weddings
        </div></button>
        <button><div>
            Kids
        </div></button>
        <button><div>
            Other
        </div></button>
</div>
</body>
</html>

